.pagination {
  display: inline-block !important;
}

.pagination a {
  color: black !important;
  float: left !important;
  padding: 8px 16px !important;
  text-decoration: none !important;
  border-radius: 0px !important;
  border-color: transparent !important;
  margin-left: 2em !important;
}

.pagination > .active > a {
  background-color: #9aff01 !important;
  border-color: transparent !important;
  color: #2E2E2E !important;
}
