/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2E2E2E;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #9aff01;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
